{sub_dirs, [
            "apps/",
            "rel"]}.

{deps_dir, ["deps"]}.
{erl_opts, [native, {hipe, []}, debug_info, fail_on_warning]}.
{eunit_compile_opts, [native, {hipe, [verbose]}, debug_info]}.

{deps, [{erlang_murmurhash, ".*", {git, "https://github.com/thekvs/erlang-murmurhash.git"}}]}.
